<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // let itemList = document.querySelector('.content');
    // itemList.addEventListener('click', (event) => {
    //     let removeItem = event.target.parentNode.parentNode;
    //     itemList.removeChild(removeItem);

    // });

</script>

</body>
<!-- <footer>Made with Practice</footer> -->
</html>